asn1crypto==0.24.0
astroid==2.1.0
astropy==3.1.2
attrs==19.1.0
Automat==0.7.0
beautifulsoup4==4.7.1
biopython==1.73
certifi==2018.4.16
cffi==1.12.3
chardet==3.0.4
chromedriver==2.24.1
click==6.7
constantly==15.1.0
cryptography==3.2
cssselect==1.0.3
DateTime==4.3
decorator==4.4.0
docopt==0.6.2
entrypoints==0.3
flake8==3.7.7
Flask==1.0.2
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==2.3.2
gem==0.1.12
gunicorn==19.9.0
httpserver==1.1.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
ipython-genutils==0.2.0
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
jsonschema==3.0.1
jupyter-core==4.4.0
lazy-object-proxy==1.3.1
lxml==4.3.3
MarkupSafe==1.0
mccabe==0.6.1
nbformat==4.4.0
numpy==1.14.5
pandas==0.23.3
parsel==1.5.1
plotly==3.9.0
pprint==0.1
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycodestyle==2.5.0
pycparser==2.19
PyDispatcher==2.0.5
pyeasyga==0.3.1
pyflakes==2.1.1
PyHamcrest==1.9.0
pylint==2.2.2
pymongo==3.8.0
pyOpenSSL==19.0.0
pyrsistent==0.15.2
python-dateutil==2.7.3
pytz==2018.5
queuelib==1.5.0
requests==2.21.0
retrying==1.3.3
Scrapy==1.6.0
selenium==3.141.0
service-identity==18.1.0
six==1.11.0
soupsieve==1.9.1
splinter==0.10.0
SQLAlchemy==1.2.10
SQLAlchemy-Utils==0.33.11
traitlets==4.3.2
Twisted==19.2.0
urllib3==1.24.3
w3lib==1.20.0
Werkzeug==0.14.1
wrapt==1.11.1
zope.interface==4.6.0
